.banner-tiles{
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}
.banner-tiles::-webkit-scrollbar {
    display: none;
  }
  .banner-tiles{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
