.product-card{
    display: flex;
    max-width: 300px;
    padding: 12px 24px;
    background-color:#F5F8FC;
    color: black;
    border-radius: 20px;
    align-items: center;
    margin: 5px;
}
.product-card > *:not(:first-child){
    margin-left: 10px;
}
.product-card-img>img{
    width: 50px;
}
.product-card-detail{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.product-card-text{
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fulfilled-btn{
    background-color: #6F8AE8;
    cursor: pointer;
    color: #fff;
    width: 100%;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.fulfilled-btn:hover{
    background-color: rgb(216, 12, 12);
}
.order-card{
    width: fit-content;
}